{% extends 'layout.html.twig' %}

 {% block title %}
     Wanted
 {% endblock %}

{% block content %}
    <h1>Wanted found: {{wantedFound|length }}</h1>
    <ul>
        {% for wanted in wantedFound %}
            <li><a href="/admin/show/{{ wanted.id }}"> {{ wanted.name }} </a> <p> {{ wanted.reward }} </p></li>
            <img src="/assets/images/{{wanted.picture}}" class="card-location" alt="image test">
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
{% endblock %}